
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*Kimberly*/ 
$yellow:  #FFD23F;
$blue: #1D3557 ;
$light: #457B9D;
$beige: #F1FAEE;

$button-bg: $light;
$button-text-color: #fff;
$baby-blue: #f8faff;

.bubbly-button{
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-appearance: none;
  appearance: none;
  background-color: $button-bg;
  color: $button-text-color;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(23, 55, 122, 0.5);
  
  &:focus {
    outline: 0;
  }
  
  &:before, &:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  
  
 
  &:active{
    transform: scale(0.9);
    background-color: darken($button-bg, 5%);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }
  
  &.animate{
    &:before{
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after{
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}

.expe{
    font-family: 'Poppins', sans-serif;
}

.testi{
    margin: 10px;
    color:$beige;
border-radius: 20px;
}

.testi:hover{
    color: $yellow;
}

.field{
 font-family: 'Nunito', sans-serif;;

}
input {
  display: block;
  width: 100%;
  padding-top: 20px;
  border: none;
  border-radius: 0; 
  // border-bottom: solid $width/150 rgba(white, .5);
  color: $blue;
  font-size: 20px;
  transition: .3s ease;
  &:valid {
    // border-bottom-color: rgba(white, .5);
    ~label {
      top: 0;
      color: rgba($blue, .5);
    }
  }
  &:focus {
    outline: none;
    // border-bottom-color: $secondary-color;
    ~label {
      top: 0;
      color: wheat;
    }
}
}
