.colCarousel{
    margin-top: 20px;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 170px;
}

.colCardHomePage{
    margin-left: 90px;
    margin-right: 60px;
}

h2{
    margin-bottom: 20px;
    text-align: center;
}