/*Kimberly*/ 
$yellow:  #FFD23F;
$blue: #1D3557 ;
$light: #457B9D;
$beige: #F1FAEE;

* {
position: relative;
}

/*Navbar, Kimberly */
.menu{
    text-align: center;
    margin: 20px;
    color: $beige;

}

.titulo{
 float: right;
 margin-top: 30px;
 text-align: center;
     background-color: $blue;
    color: $beige;
   padding: 16px;
}

//*.card-header{}

.general{
    margin: 120px 80px 120px 80px ;
}
.navbar{
    background-color: $light;
color: $yellow;
}

.especialista{
    width: 180px;
    height: 180px;
}
/*foot*/

.footer{
    padding-top: 30px;
}

i{
    font-size: 27px;
    margin: 12px;
    left: 32%;
text-align: center;
color: $blue;

}

.titfoo{
    color: $blue
}
.col-3, .footer {
background-color: $yellow;
}

.abajo{
    color: $light;
}

.todos{
    color: $beige; 
    margin: 0px;
    padding-left: 80px;
    padding-top: 160px; 
}

/*boton whatsapp*/
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color: white;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

i .fab{
    size: 20px;
}

