
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*Kimberly*/ 
$yellow:  #FFD23F;
$blue: #1D3557 ;
$light: #457B9D;
$beige: #F1FAEE;


.container, .colCarousel , .React.Fragment {
    margin-top: 40px;
}

* {
position: relative;
}

p{
    font-family: 'Nunito', sans-serif;
}

Link{
    font-family: 'Nunito', sans-serif;
}

/*Navbar, Kimberly */
.menu{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin: 20px;
    color: $beige;

}
.tracking-in-expand{
color: $yellow;
margin-left: 7px;

	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/*icono*/ /*kimberly*/
.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}



.linea{
    margin: 7px;
}

.enter{
    color: $beige;
    margin: 7px;
    font-family: 'Nunito', sans-serif;
}

.regi{
    margin: 7px;
color: $blue;
font-family: 'Poppins', sans-serif;
}

//*.card-especialista kimberly*/ 

.general{
    margin: 120px 80px 120px 80px ;
-webkit-box-shadow: 0 8px 6px -6px $blue;
	   -moz-box-shadow: 0 8px 6px -6px  $blue;
	        box-shadow: 0 8px 6px -6px  $blue;
}

.navbar{
    background-color: $light;
color: $yellow;
}

.card-header{
    font-family: 'Poppins', sans-serif;
    background-color: $light;
    color: $beige;
}

.titulo{
 float: center;
 margin-top: 30px;
 font-family: 'Poppins', sans-serif;
 padding: 30px;
 text-align: center;
     background-color: $blue;
    color: $yellow;
   border-radius: 20px;
   position: absolute;
}

.especialista{
    width: 292px;
    display: block;
    justify-content: center;
}

.expertos{
 width: 1371px;
height: 1647px;
}

/*reporta*//*kimberly*/
.reporta{
font-family: 'Poppins', sans-serif;
}

.formulario{
background-color: $light;
border-radius: 30px;
padding: 20px;
text-align: left;
margin: auto;
margin-top: 180px ;
margin-bottom: 80px;
}


.mensaje{
     font-family: 'Nunito', sans-serif;
    color: $beige;
}

.cancel{
    padding: 6px;
    margin: 20px;
    color: $beige;
    background: $yellow;
}

 .submit, .call {
    margin: 20px;
    color: $beige;
}

/*foot*//*kim*/
footer{
    background-color: $yellow;
    margin: 0%;
}


i{
    font-size: 27px;
    margin: 12px;
    left: 32%;
    text-align: center;
    color: $blue;
}

.titfoo{
    color: $blue;
    padding-top: 10px; 
}

.footer {
background-color: $yellow;
}

.abajo{
    color: $light;
}

.todos{
    color: $beige; 
    margin: 0px;
    padding-top: 180px; 
}

/*boton whatsapp*/

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color: white;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

i .fab{
    size: 20px;
}

/*Orientacion*/ /*Emily*/

.orientacionArticulos{
  margin-left: 150px;
  margin-bottom: 20px;
}

.card{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}

.btn{
    font-family: 'Nunito', sans-serif;
}


/*Derechos*/

.derechos{
     font-family: 'Poppins', sans-serif;
     background-color: $yellow;
     color: black;
}

.btn-link{
    border-radius: 20px;
}

.card-header{
    background: none;
    color: $light;
}


//colores página expertos (Silvia)
$color_white_experto: #fff;
$color_prime_experto: #1D3557;
$color_grey_experto: #e2e2e2;
$color_grey_dark_experto: #a2a2a2;

/////////// Estilos Login y registro (Silvia) /////////////////// 
.containerLoginSignUp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

.experto{
    padding: auto;
}
.mainLoginSignUp {
    max-width: 500px;
    width: 100%;
}

.titleFormloginRegister {
    font-size: 250%;
    color:#bbe1fa;
    text-align: center;
    margin-bottom: 20px;
}

.login-register-formcontainer {
    width: 100%;
    padding: 50px 30px;
    background-color: #1D3557;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    box-sizing: border-box;
}

.login-register-formcontainer input {
    font-family: 'Overpass', sans-serif;
    font-size: 120%;
    color: #1b262c;
    
    display: block;
    width: 100%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

.login-register-formcontainer input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #c3c3c3;
}

.login-register-formcontainer button {
    font-family: 'Overpass', sans-serif;
    font-size: 140%;
    color:#1d3557;
    font-weight: bolder;
    width: 100%;
    height: 60px;
    border: none;
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: #bbe1fa;
    
    margin-top: 10px;
}

.login-register-formcontainer button:hover {
    background-color: #0f4c75;
    color:#bbe1fa;
}

.formfooter {
    font-size: 100%;
    text-align: center;    
    margin-top: 15px;
}

.formfooter span {
    display: block;
    text-decoration: none;
    color: yellow;
    margin-bottom: 3px;
}

.formfooter span:hover {
    color: #bbe1fa;
}

///////////// Estilos cambiar contraseña (Silvia) /////////////////

.slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

.formpassword{
    width: 500px;
    background-color: #1D3557;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
}

.btnCambiarContraseña{
    text-decoration: none;
    border:none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #0016b0;
    background-color: #bbe1fa;
    border-radius: 6px;
    margin-left: 5px;
}
///------------------ botón regresar a inicio de sesión (Silvia)---
.btnIrInicioSesión{
    text-decoration: none;
    border:none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #0016b0;
    background-color: #9c9c9c;
    border-radius: 6px;
}

.btnIrInicioSesión:hover, .btnCambiarContraseña:hover{
    background-color: $yellow;
    color: $blue;
    border:none;
}
.changepasswordcontainer{
    margin:0;
    padding:0;
    background-size: cover;
    height: auto;
    
}

.boxcambiarcontraseña h4{
    margin: 0 0 30px;
    padding: 0%;
    color: whitesmoke;
    text-align: center;
}
.boxcambiarcontraseña p{
    font-size: 20px;
    font-weight: bolder;
    color: #ffd23f; 
}
.boxcambiarcontraseña .inputBox{
    position: relative;
}
.boxcambiarcontraseña .inputBox input{
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    color: whitesmoke;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ffffff;
    outline: none;
    background: transparent;
    text-align: center;
}

//-----------  Expertos (Silvia)-------------------------------

.experto-card {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  box-shadow: 0 3px 7px -1px rgba(#000, .1);
  margin-bottom: 3.6%;
  background: $color_white_experto;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  
  .photocontainer {
    position: relative;
    z-index: 0;
    height: 200px;
  }
  .photo-experto {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform .2s;
  }
 
  .descriptionexperto {
    padding: 1rem;
    background: $color_white_experto;
    position: relative;
    z-index: 1;
    h1,
    h2 {
      font-family: Poppins, sans-serif;
    }
    h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.7rem;
      color:#3f888f;
    }
    h2 {
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: $color_grey_dark_experto;
      margin-top: 5px;
    }
    .read-more-experto {
      text-align: right;
      button {
        color: white;
        padding: 10px;
        font-size: 15px;
        border: none;
        background-color: $color_prime_experto;
        display: inline-block;
        position: relative;
        &:after {
          content: "\f061";
          font-family: FontAwesome;
          margin-left: -10px;
          opacity: 0;
          vertical-align: middle;
          transition: margin .3s, opacity .3s;
        }

        &:hover:after {
          margin-left: 5px;
          opacity: 1;
        }
      }
    }
  }

p{
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin: 1rem 0 0;
    &:first-of-type {
      margin-top: 1.25rem;
      &:before {
        content: "";
        position: absolute;
        height: 5px;
        background: #1e5945;
        width: 35px;
        top: -0.75rem;
        border-radius: 3px;
      }
    }
  }

  &:hover {
    .details {
      left: 0%;
    }
  }

@media (min-width: 640px) {
    flex-direction: row;
    max-width: 700px;
    .photocontainer {
      flex-basis: 40%;
      height: auto;
    }

    .descriptionexperto {
      flex-basis: 60%;
      &:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }
    
  }
}


.filtradoBusquedaExpertos{
    justify-content: center;
}
.filtradoBusquedaBtn{
    color: #1D3557;
    background: #cdcdcd;
    font-size: 20px;
    padding: 0px 10px;
   
}
.filtradoBusquedaBtn i{
    margin:0;
    left:0%;
}
